---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my updated publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a> and <a href="{{site.author.orcid}}">my ORCID page</a>.</div>
{% endif %}

{% include base_path %}
<p>(#co-first author; *corresponding author)</p>
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
<p>1</p>
  {% for category in site.publication_category  %}
<p>2</p>
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
<p>3</p>
      {% if post.category != category[0] %}
<p>4</p>
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
<p>5</p>
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



